# Atlassian
# ATLASSIAN_CLIENT_ID=
# ATLASSIAN_CLIENT_SECRET=

# Microsoft Business Central
BC_TENANT_ID=
BC_CLIENT_ID=
BC_CLIENT_SECRET=<secret-fra-Entra-ID>
BC_ENVIRONMENT=Production
BC_COMPANY_ID=
BC_COMPANY_NAME=
BC_ITEM_GROUPS=KOM,DRIFT
